<div class="row">
    <div class="col">
      <h1>Room Name: <%= @name %></h1>
      <script>
        window.gameName = "<%= @name %>";
        window.player = "<%= @player %>";
      </script>
      <div id="game">
        <p>React app not loaded...</p>
      </div>
    </div>
</div>